{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <div class="form-wrapper">
        
            <h1>New Exercise</h1>
        
            <form method="POST" action="{{ url_for('exercise_bp.exercise_create') }}">
              {{ form.csrf_token }}
        
              <fieldset class="title">
                {{ form.title.label }}
                {{ form.title(placeholder='Title') }}
                {% if form.title.errors %}
                  <ul class="errors">
                    {% for error in form.title.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>
        
              <fieldset class="body">
                {{ form.body.label }}
                {{ form.body(placeholder='Body') }}
                {% if form.body.errors %}
                  <ul class="errors">
                    {% for error in form.body.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="templatevm_proxmox_id">
                {{ form.templatevm_proxmox_id.label }}
                {{ form.templatevm_proxmox_id(placeholder='Proxmox ID') }}
                {% if form.templatevm_proxmox_id.errors %}
                  <ul class="errors">
                    {% for error in form.templatevm_proxmox_id.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="gns3_file">
                {{ form.gns3_file.label }}
                {{ form.gns3_file(placeholder='GNS3 Project File') }}
                {% if form.gns3_file.errors %}
                  <ul class="errors">
                    {% for error in form.gns3_file.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>

              <fieldset class="commands">
                {{ form.commands.label }}
                {{ form.commands(placeholder='Commands to run on template VM') }}
                {% if form.commands.errors %}
                  <ul class="errors">
                    {% for error in form.commands.errors %}
                      <li>{{ error }}</li>{% endfor %}
                  </ul>
                {% endif %}
              </fieldset>
        
              <div class="submit-button">
                {{ form.submit }}
              </div>
        
            </form>
          </div>
    </div>
{% endblock %}