{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <p>CURRENT USER_ID is {{current_user_id}}</p>
        <form action="{{ url_for('vm_bp.start_vm', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <button type="submit">Start work environment</button>
        </form>

        <form action="{{ url_for('vm_bp.stop_vm', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <button type="submit">Stop work environment</button>
        </form>

        <form action="{{ url_for('vm_bp.connect', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <button type="submit">Connect to work environment</button>
        </form>

        <form action="{{ url_for('vm_bp.start_firewall', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <button type="submit">Turn on exam mode</button>
        </form>

        <form action="{{ url_for('vm_bp.stop_firewall', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <button type="submit">Turn off exam mode</button>
        </form>

        <form action="{{ url_for('exercise_bp.exercise_delete', exercise_id = exercise_id ) }}" method="POST">
            <button type="submit">Delete exercise and all associated VMs</button>
        </form>

        <form action="{{ url_for('test_bp.ping', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <label for="hostname">Hostname:</label>
            <input type="text" id="hostname" name="hostname" required>

            <label for="ip_address">IP Address:</label>
            <input type="text" id="ip_address" name="ip_address" required>

            <button type="submit">Check exercise results</button>
        </form>

        <form action="{{ url_for('test_bp.traceroute', vm_proxmox_id = vm_proxmox_id ) }}" method="POST">
            <label for="hostname">Hostname:</label>
            <input type="text" id="hostname" name="hostname" required>

            <label for="ip_address">IP Address:</label>
            <input type="text" id="ip_address" name="ip_address" required>

            <button type="submit">Check exercise results</button>
        </form>

    </div>
{% endblock %}